{% extends 'base.html' %}

{% block title %}
All Notes
{% endblock %}

{% block content %}

<h2>All Notes</h2>

{% for note in notes %}

<div class="card mb-3 shadow-sm">

<div class="card-body">

<h4>{{ note.title }}</h4>

<p>{{ note.content }}</p>

<small class="text-muted">
Created: {{ note.created_at }}
</small>

<hr>

<a href="{% url 'edit_note' note.id %}" class="btn btn-warning btn-sm">
Edit
</a>

<a href="{% url 'delete_note' note.id %}" class="btn btn-danger btn-sm">
Delete
</a>

</div>

</div>

{% empty %}

<div class="alert alert-info">
No Notes Found.
</div>

{% endfor %}

{% endblock %}